:root {
    --numero-color: #011627;
    --operando-color: #ff9f1c;
    --blackbox: #011627;
    --correcto: #2ec4b6;
    --error: #ba181b;
    --backgroundBox-color: #f5f3f4;
    --borderContenedor-color: #011627;
    --borderBox-color: #011627;
    --tareaActual-color: #01BAEF;
}

* {
  margin: 0;
  padding: 0;
}

.aritmetica {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 30%;
}

.aritmetica h1 {
  text-align: center;
  padding: 20px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 0px;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border: 3px solid var(--borderContenedor-color);
}

.box {
  border: 1px solid var(--borderBox-color);
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  line-height: 100px;
}

.black {
    background-color: var(--blackbox);
}

.casilla, .operando, .resultado {
  font-size: 50px;
  background-color: var(--backgroundBox-color);
}

.casilla {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

.operando {
  font-weight: bold;
}

.score {
  margin: 1% 48%;
}

.reset, .submit {
  width: 100px;
  height: 50px;
  margin: 1% 48%;
}

.resultado-correcto {
  background-color: var(--correcto);
}

.resultado-incorrecto {
  background-color: var(--error);
}